.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.total-freeze, .preview-curtain {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: black;
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
}

.preview-screen img {
  position: fixed;
  top: calc(30vh);
  left: calc(50vw - 150px);
  max-width: 300px;
  max-height: 300px;
  z-index: 1000;
  background-color: white;
}

.preview-close {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 12px 24px;
  color: white;
  font-size: xx-large;
  z-index: 1000;
  border: none;
  background-color: black;
}

.waiter, .anti-waiter {
  position: fixed;
  top: calc(50vh - 25px);
  left: calc(50vw - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.waiter {
  background-color: white;
  animation: spin 2s infinite linear;
}

.anti-waiter {
  background-color: transparent;
  animation: antispin 2s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

@keyframes antispin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(-360deg);}
}

.dotter {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.anti-dotter {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  
}

.confirmator {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  margin: 1em;
  background-color: #28a745;
  color: white;
  z-index: 1000;
  border: 2px solid #28a745;
  border-radius: 5px;
}

.confirmator-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.confirmator-hidden {
  opacity: 0;
  transition: all 250ms linear;
}

.modal-90w {
  max-width: 90% !important;
}

.inserted {
  color: green;
  font-weight: bold;
}

.deleted {
  color: red;
  font-weight: bold;
}

.modified {
  color: blue;
  font-weight: bold;
}

.templateToolbar {
  background-color: white;
  margin: 10px 0;
}

.toolbarCategory {
  display: inline-block;
  margin: 5px;
  font-size: 14px;
}

.toolbarTitle {
  padding: 3px 6px;
  height: 32px;
  margin: 0;
  background-color: #A9A9A9;
  border: 1px solid #A9A9A9;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

.templateToolbar button, .schemaOverviewButton {
  padding: 3px 6px;
  height: 32px;
  margin: 0;
  background-color: #F5F5F5;
  border: 1px solid #A9A9A9;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}
