<section id="manual-section">
	<h1 lang="en">Manual</h1>
	<h1 lang="de">Handbuch</h1>
	<p lang="en">Under construction...</p>
	<p lang="de">In Arbeit...</p>
	<section>
		<h2 lang="en">Languages</h2>
		<h2 lang="de">Sprachen</h2>
		<section>
			<h3 lang="en">Edit languages</h3>
			<h3 lang="de">Sprachen bearbeiten</h3>
			<p lang="en">Add a language by clicking on the + symbol. For each language, fill in the <a target="_blank" href="https://www.iso.org/iso-639-language-code">ISO 639 two letter code</a>. This is necessary for allowing browsers to choose the correct language formats including date and time formats. Remove a language with the - symbol. The arrow symbols let you change the order of the languages.</p>
			<p lang="de">Füge eine Sprache mit dem + Symbol hinzu. Füll für jede Sprache den <a target="_blank" href="https://www.iso.org/iso-639-language-code">ISO 639 Code bestehend aus zwei Buchstaben</a> aus. Dies ist notwendig, damit ein Browser die korrekten Sprachformate einschließlich Datum- und Zeitformaten auswählen kann. Mit dem - Symbol kann eine Sprache gelöscht werden. Mit den Pfeilsymbolen kann die Anordnung der Sprachen verändert werden.</p>
		</section>
		<section>
			<h3 lang="en">Set default language</h3>
			<h3 lang="de">Standardsprache auswählen</h3>
			<p lang="en">Before the page can be set up, choose one of the languages as default language. Texts for this language are always obligatory and also serve as fallback in case a text is missing in another language.</p>
			<p lang="de">Bevor die Seite angegelgt werden kann, muss eine Standardsprache ausgewählt werden. Texte in dieser Sprache müssen ausgefüllt werden und dienen auch als Ersatz für Fälle, wo in einer anderen Sprache kein Text existiert.</p>
		</section>
	</section>
	<section>
		<h2 lang="en">Pages</h2>
		<h2 lang="de">Seiten</h2>
		<p lang="en">Here you set up pages and manage content (texts, files and forms). The page is organized in a hierarchical way, like a tree structure. First, you create a basic page containing basic information. You then add subpages which again can contain subpages an so on. The page structure is for internal structuring, the concrete appearance may diverge from it and is managed in the Templates function.</p>
		<p lang="de">Hier wird die Seite ausgesetzt und Inhalte verwaltet (Texte, Dateien and Formulare). Die Seite ist hierarchisch organisiert, wie ein eine Baumstruktur. Erstelle zuerst eine Basisseite. Dann kannst du Unterseiten erstellen, die wiederum Unterseiten enthalten können. Die Seitenstruktur dient der internen Strukturierung und kann vom konkreten Aussehen, das in der Schablonenfunktion verwaltet wird, abweichen.</p>
	</section>
	<section>
		<h2 lang="en">Templates</h2>
		<h2 lang="de">Schablonen</h2>
		<section>
			<h3 lang="en">Twig template functions</h3>
			<h3 lang="de">Twig-Schablonenfunktionen</h3>
			<section>
				<h4>customForms(section, 'callback', 'errCallback')</h4>
				<p>Retrieve all forms of a section.</p>
				<p>Arguments:</p>
				<ul>
					<li>section: the subpage (section) object to get the forms from</li>
					<li>callback: a Javascript callback function executed on successful upload as string. Use 'null' for the default message.</li>
					<li>errCallback: a Javascript callback function executed on error as string. Use 'null' for the default message. Highlighting required fields left empty can be done by reading the index property of the second item of the error response array, e.g. ['REQUIRED', {index: 0}]</li>
				</ul>
			</section>
			<section>
				<h4>languageLinkList()</h4>
				<p>Retrieve links to all language versions of the current page.</p>
				<p>Returns: an array of asssociative arrays containing:</p>
				<ul>
					<li>name: the language name</li>
					<li>iso639: the ISO 639 code of the language (<a target="_blank" href="https://www.iso.org/iso-639-language-code">https://www.iso.org/iso-639-language-code</a>)</li>
					<li>link: the actual link to the page</li>
				</ul>
			</section>
			<section>
				<h4>getContentFiles('fileCollection')</h4>
				<p>Retrieve all files of the file collection specified.</p>
				<p>Arguments:</p>
				<ul>
					<li>fileCollection: the name of the file collection as string</li>
				</ul>
				<p>Returns: an array of asssociative arrays containing:</p>
				<ul>
					<li>src: the source URL of the file</li>
					<li>caption: the file caption</li>
				</ul>
			</section>
			<section>
				<h4>getContentFileLinks('fileCollection')</h4>
				<p>Retrieve download links all files of the file collection specified.</p>
				<p>Arguments:</p>
				<ul>
					<li>fileCollection: the name of the file collection as string</li>
				</ul>
				<p>Returns: an array of asssociative arrays containing:</p>
				<ul>
					<li>src: the URL for the file download</li>
					<li>caption: the file caption</li>
				</ul>
			</section>
		</section>
		<section>
			<h3 lang="en">Built-in Javascript functions</h3>
			<h3 lang="de">Standardmäßig verfügbare Javascript-Funktionen</h3>
			<section>
				<h4>getCalendar(start, length, backward, [paths], callback)</h4>
				<p>Retrieve a list of events.</p>
				<p>Arguments:</p>
				<ul>
					<li>start: the index of the first event to be included</li>
					<li>length: the number of events to include</li>
					<li>backward: if true, the events are counted from the most recent on</li>
					<li>paths: an array of paths to be included, use null to not filter by paths</li>
					<li>
						<p>callback: a callback function receiving an object containing:</p>
						<ul>
							<li>
								<p>list: an array of objects containing:</p>
								<ul>
									<li>path: the actual link to the page containing the event</li>
									<li>title: the title of that page</li>
									<li>dateTime: the time stamp of the event</li>
									<li>place: the event location</li>
								</ul>
							</li>
							<li>number: the number of all events</li>
						</ul>						
					</li>
				</ul>
			</section>
			<section>
				<h4>getCalendarByDate(begin, end, backward, [paths], callback)</h4>
				<p>Retrieve a list of events within a time range. The function understands PHP date and time formats: <a href="https://www.php.net/manual/en/datetime.formats.php">https://www.php.net/manual/en/datetime.formats.php</a></p>
				<p>Arguments:</p>
				<ul>
					<li>begin: the begin date and time</li>
					<li>end: the end date and time</li>
					<li>backward: if true, the events are counted from the most recent on</li>
					<li>paths: an array of paths to be included, use null to not filter by paths</li>
					<li>
						<p>callback: a callback function receiving an object containing:</p>
						<ul>
							<li>
								<p>list: an array of objects containing:</p>
								<ul>
									<li>path: the actual link to the page containing the vent</li>
									<li>title: the title of that page</li>
									<li>dateTime: the time stamp of the event</li>
									<li>place: the event location</li>
								</ul>
							</li>
							<li>number: the number of all events</li>
						</ul>						
					</li>
				</ul>
			</section>
			<section>
				<h4>lazySectionLoading('path', schema, custom, start, length, reverse, template, callback)</h4>
				<p>Load subpages lazily through AJAX. Use relative paths from the path list in the templates.</p>
				<p>Arguments:</p>
				<ul>
					<li>path: the path to the parent section as string</li>
					<li>schema: the schema applied by the subpage (can be retrieved by clicking 'Schema' in the 'Subpages' in the path list)</li>
					<li>custom: whether or not the page uses a custom schema (can be retrieved by clicking 'Schema' in the 'Subpages' in the path list)</li>
					<li>start: the index of the first subpage to include</li>
					<li>length: the number of subpages to include</li>
					<li>reverse: if true, the pages are counted in reverse order</li>
					<li>template: a string containing a twig template rendered for each subpage. You must escape the delimiters <i>{</i> with <i>\{</i> and <i>%</i> with <i>\%</i>.</li>
					<li>callback: a callback function receiving an array containing the subapges rendered as HTML strings</li>
				</ul>
			</section>
			<section>
				<h4>decryptBase64(encoded)</h4>
				<p>Load subpages lazily through AJAX.</p>
				<p>Arguments:</p>
				<ul>
					<li>encoded: Base 64 encoded string</li>
				</ul>
				<p>Returns: the decoded string</p>
			</section>
			<section>
				<h4>element(tag, {props})</h4>
				<p>Create a DOM element.</p>
				<p>Arguments:</p>
				<ul>
					<li>tag: the tag name</li>
					<li>props: object reh4senting attribute names and properties and attribute values as values</li>
				</ul>
				<p>Returns: the new element</p>
			</section>
		</section>
		<section>
			<h3 lang="en">Styling contents</h3>
			<h3 lang="de">Formulare stylen</h3>
			<p>Text contents are created by using the Quill editor. Quill assigns class attributes for styling. To display them correctly, you can use the Quill class attributes beginning with ql- and one of the format names listed at <a href="https://quilljs.com/docs/formats/">https://quilljs.com/docs/formats/</a> plus optional suffixes such as -[NUMBER] used with indent.</p>
		</section>
		<section>
			<h3 lang="en">Styling forms</h3>
			<h3 lang="de">Formulare stylen</h3>
			<p>If you intend to customize your custom forms, you can use the following class attributes:</p>
			<ul>
				<li>input-label</li>
				<li>form-label</li>
				<li>captcha-img</li>
				<li>captcha-refresh</li>
				<li>captcha-audio</li>
			</ul>
		</section>
	</section>
</section>