body {
	position: relative;
	height: 100vh;
	width: 100vw;
	font-family: "Liberation Mono", monospace;
}

section {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 500px;
}

#logo {
	max-width: 200px;
	margin: auto;
	display: block;
}

#form-label {
	font-size: 1.5em;
	display: block;
	padding-bottom: 10px;
}

#status {
	color: #dc3545;
	margin: 4px 0;
}

#strength-badge {
	margin: 4px 0 8px 0;
}

input, button[type=submit], #reset-button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}

button[type=submit], #reset-button {
	background-color: transparent;
	font-family: inherit;
}

ul {
	padding: 0;
	margin: 10px 0 0 0;
}

li {
	display: inline-block;
	margin: 0 10px 0 0;
}